<section id="basket" class="user">
	
	<div class="user-exit">
		<div class="user-exit-btn"></div>
	</div>

	<h2 class="user-header">Корзина</h2>

	<ul class="user-list">
		<li class="user-item">
			<div class="user-item-wrapper">
				<div class="user-item-img">
					<img src="../img/userforms/flowers.png" alt="flowers">
				</div>
				<div class="user-item-name">Букет роз</div>

				<div class="user-item-counter">
					<span class="user-item-counter-minus"></span>
					<input type="text" value="1">
					<span class="user-item-counter-plus"></span>
				</div>

				<div class="user-item-price">2500<span class="user-item-price-lowercase">грн</span></div>
				<div class="user-item-delete"></div>
			</div>
		</li>

		<li class="user-item">
			<div class="user-item-wrapper">
				<div class="user-item-img">
					<img src="../img/userforms/flowers.png" alt="flowers">
				</div>
				<div class="user-item-name">Букет роз</div>

				<div class="user-item-counter">
					<span class="user-item-counter-minus"></span>
					<input type="text" value="1">
					<span class="user-item-counter-plus"></span>
				</div>

				<div class="user-item-price">2500<span class="user-item-price-lowercase">грн</span></div>
				<div class="user-item-delete"></div>
			</div>
		</li>
	</ul>

	<div class="user-total">Стоимость заказа: 
		<div class="user-total-price">5000<span class="user-total-price-lowercase">грн</span></div>
	</div>

	<div id="user-basket-btn" class="user-btn-right user-btn">Оформить заказ</div>

</section>

<div id="basket-overlay" class="user-overlay"></div>