<footer id="footer">
	<div class="content">
		
		<img src="../img/footer/logo.png" id="footer-logo"></img>

		<div id="footer-middle-wrapper">
			<ul id="footer-menu">
				<li class="footer-menu-item"><a href="#">Про нас</a></li>
				<li class="footer-menu-item"><a href="#">Товары</a></li>
				<li class="footer-menu-item"><a href="#">Контакты</a></li>
			</ul>

			<ul id="footer-social">
				<a href="#"><li id="footer-social-item-1"></li></a>
				<a href="#"><li id="footer-social-item-2"></li></a>
				<a href="#"><li id="footer-social-item-3"></li></a>
			</ul>
		</div>

		<ul id="footer-info">
			<li class="footer-info-item">+38 (050)
				<span class="footer-info-item-bold">
					372 44 22
				</span>
			</li>
			<li class="footer-info-item">+38 (067)
				<span class="footer-info-item-bold">
					372 44 22
				</span>
			</li>
			<li class="footer-info-item">+38 (063)
				<span class="footer-info-item-bold">
					372 44 22
				</span>
			</li>
			<li class="footer-info-item">Ежедневно с 
				<span class="footer-info-item-bold">
					8.00
				</span>
				до 
				<span class="footer-info-item-bold">
					20.00
				</span></li>
			</ul>

			<h4 id="footer-madeby">made by 
				<span id="footer-madeby-bold">Brain & Spirit</span>
			</h4>

		</div>
	</footer>
	
</body>
</html>