<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Magic Rose</title>
	<link rel="stylesheet" href="../css/main.css">
	<script src="../js/main.js" type="text/javascript"></script>
</head>
<body>

	<header id="header" class="header-short">
		<div id="header-wrapper">
			<div class="content">

				<div id="header-logo">
					<img src="../img/header/logo.png" alt="logo">
				</div>

				<ul id="header-menu">
					<li class="header-menu-item"><a href="#">Про нас</a></li>
					<li class="header-menu-item"><a href="#">Товары</a></li>
					<li class="header-menu-item"><a href="#">Контакты</a></li>
				</ul>

				<ul id="header-langs">
					<li class="header-dropdown">рус
						<img class="header-dropdown-selected-flag" src="../img/header/lang-rus.svg" alt="flag">
						<ul class="header-dropdown-list">
							<li class="header-dropdown-item">укр<img src="../img/header/lang-ua.svg" alt="flag"></li>
							<li class="header-dropdown-item">eng<img src="../img/header/lang-eng.svg" alt="flag"></li>
						</ul>
					</li>
				</ul>

				<div id="header-user">
					<ul>
						<li>
							<div id="header-user-login">Войти</div>
							<div id="header-user-register">Регистрация</div>
						</li>
						</ul>
					</div>

				</div>
			</div>
		</header>

		<section class="profile-menu">
			<div class="content">
				<ul>
					<li class="profile-menu-item"><a href="#">Личная информация</a></li>
					<li class="profile-menu-item-active"><a href="#">Архив</a></li>
				</ul>
			</div>
		</section>

		//= registration.html

		//= login.html

		//= basket.html

		//= buy.html