.header-short {
	background-image: none !important;
	height: 80px !important;

	.content {
		padding-top: 5px;
	}

	#header-logo {
		top: -5px;
	}

	#header-menu {
		margin-right: 230px;
		height: 80px;

		.header-menu-item {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	#header-user {

	}
}