#header {
	height: 674px;
	background-image: url('../img/header/bg.jpg');
	background-size: cover;
	background-position: center;

	.content {
		position: relative;
	}

	&-menu, &-contacts, &-langs, &-user,
	.header-menu-item, &-user-login,
	&-user-register {
		display: inline-block;
	}

	&-wrapper {
		height: 80px;
		padding-bottom: 4px;
		background-color: rgba(255, 255, 255, 0.6);
		border-bottom: 1px dashed $color_darkgray;
		box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
	}

	&-logo {
		position: absolute;
		left: 0;
		background-color: white;
		padding: 19px 22px;
		box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
	}

	&-menu {
		margin-left: 216px;

		.header-menu-item {
			font-family: HelveticaNeueCyr-Bold;
			letter-spacing: 0.5px;
			font-size: 17px;
			cursor: pointer;
			margin-left: 24px;
			margin-right: 24px;

			a {
				color: $header_text_color;
				transition: all 0.3s ease;
			}

			&:hover a, &:active a, &:focus a{
				color: $btn_hover;
			}
		}
	}

	&-contacts {
		transform: translateY(12px);
		margin-left: 32px;

		.header-contacts-item {
			font-family: HelveticaNeueCyr-Light;
			color: $header_text_color;
			font-size: 15px;
			line-height: 28px;

			&-bold {
				font-size: 17px;
				font-family: HelveticaNeueCyr-Bold;
			}
		}
	}

	&-langs {
		margin-left: 40px;

		.header-dropdown {
			cursor: pointer;
			padding-bottom: 34px;
			padding-right: 60px;
			padding-left: 10px;
			position: relative;
			color: $header_text_color;
			font-size: 15px;
			font-family: HelveticaNeueCyr-Roman;


			&-selected-flag {
				width: 25px;
				height: 15px;
				position: absolute;
				right: 30px;
				top: 2px;
			}

			&:after {
				position: absolute;
				content: " ";
				top: 7px;
				right: 10px;
				width: 0;
				height: 0;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				transition: all 0.3s ease;

				border-top: 8px solid #737373;
			}

			&-list {
				top: 47px;
				left: -10px;
				display: none;
				position: absolute;
				width: 110px;
				margin-top: 4px;
				background-color: rgba(255, 255, 255, 0.6);
				box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);

			}

			&-item {
				text-align: left;
				padding: 6px 6px;
				transition: all 0.3s ease;

				&:hover, &:active, &:focus {
					color: $btn_hover;
				}

				img {
					width: 25px;
					height: 15px;
					float: right;
				}
			}
		}

		.header-dropdown:hover {

			&:after, &:active, &:focus {
				border-top-color: $btn_hover;
			}

			.header-dropdown-list {
				display: block;
			}
		} 
	}

	&-user {
		margin-left: 11px;
		position: relative;
		transform: translateY(12px);

		ul {
			height: 56px;

			li {
				height: 28px;
				text-align: right;
			}
		}

		&-login, &-register {
			font-family: HelveticaNeueCyr-Bold;
			color: $header_text_color;
			letter-spacing: 0.5px;
			font-size: 13px;
			transition: all 0.3s ease;
			cursor: pointer;

			&:hover, &:active, &:focus {
				color: $btn_hover;
			}
		}

		&-login {
			border-right: 2px solid $header_text_color;
			padding-right: 5px;
		}

		&-basket {
			text-align: right;
			font-family: HelveticaNeueCyr-Light;
			color: $color_darkgray;
			letter-spacing: 3px;
			font-size: 14px;
			cursor: pointer;
			display: inline-block;
			position: relative;
			border-bottom: 1px solid $color_darkgray;
			transition: all 0.3s ease;

			&:hover, &:active, &:focus {
				color: $btn_hover;
				border-bottom-color: $btn_hover;
			}

			img {
				position: absolute;
				top: -4px;
				left: -30px;
			}

			&-counter {
				top: -6px;
				left: -34px; 
				position: absolute;
				background-color: #5b8c5a;
				color: white;
				border-radius: 50%;
				font-family: HelveticaNeueCyr-Bold;
				font-size: 9px;
				height: 16px;
				width: 16px;
				text-align: center;
				line-height: 16px;
			}
		}
	}
}