.user {
	position: fixed;
	padding: 23px 43px 43px 43px;
	width: 454px;
	height: 610px;
	top: 20px;
	left: 50%;
	margin-left: -270px;
	overflow-y: scroll;
	background-color: white;
	border: 1px dashed $color_darkgray;
	display: none;
	z-index: 12;

	&-exit {
		text-align: right;
		
		&-btn {
			width: 25px;
			height: 25px;
			position: relative;
			right: -20px;
			display: inline-block;
			background-image: url('../img/userforms/cross.png');
			cursor: pointer;

			&:hover, &:active, &:focus {
				background-image: url('../img/userforms/cross-hover.png');
			}
		}
	}

	&-header {
		font-family: HelveticaNeueCyr-Bold;
		text-transform: uppercase;
		color: $color_darkgray;
		letter-spacing: 2px;
		font-size: 30px;
		border-bottom: 2px solid #f95556;
		padding-bottom: 22px;
		margin: 0;
	}

	&-btn-reverse {
		display: inline-block;
		margin-top: 40px;
		padding: 12px 18px;
		border: 2px dashed $btn_hover;
		font-family: HelveticaNeueCyr-Roman;
		font-size: 18px;
		background-color: white;
		color: $color_darkgray;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover, &:active, &:focus {
			color: white;
			background-color: $btn_hover;
		} 
	}

	&-btn {
		display: inline-block;
		margin-top: 40px;
		padding: 12px 18px;
		background-color: $btn_hover;
		font-family: HelveticaNeueCyr-Roman;
		font-size: 18px;
		border-style: none;
		border: 2px solid $btn_hover;
		color: white;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover, &:active, &:focus {
			background-color: #29d176;
			border-color: #29d176;
		} 
	}

	&-form {
		
		label {
			padding-top: 30px;
			font-family: HelveticaNeueCyr-Bold;
			text-transform: uppercase;
			display: block;
			letter-spacing: 2px;
			font-size: 14px;
			line-height: 35px;
			color: $color_darkgray;
		}

		textarea {
			width: 416px;
			height: 120px;
			border: 1px dashed #d2d2d2;
			padding: 10px 10px;
			font-family: HelveticaNeueCyr-Roman;
			outline: none;
			line-height: 18px;

			&:focus, &:active {
				border-color: $btn_hover;
			}
		}

		input {
			width: 416px;
			border: 1px dashed #d2d2d2;
			padding: 10px 10px;
			font-family: HelveticaNeueCyr-Roman;
			outline: none;

			&:focus, &:active {
				border-color: $btn_hover;
			}
		}

		&-group {
			color: #d2d2d2;
			font-family: HelveticaNeueCyr-Roman;
			letter-spacing: 2px;
			font-size: 20px;

			.user-input-wrapper {
				display: inline-block;
			}

			.input-separator-hide {
				visibility: hidden;
			}

			.user-input-text {
				font-size: 10px;
				text-transform: uppercase;
				padding-top: 5px;
				padding-right: 15px;
				display: block;
				text-align: center;
			}

			.user-input-small {
				position: relative;
				padding-left: 10px;
				padding-right: 0;
				width: 60px;
			}

			.user-input-medium {
				position: relative;
				padding-left: 10px;
				padding-right: 0;
				width: 220px;
			}
		}
	}

	// basket
	&-list {
		padding-bottom: 25px;
		padding-top: 25px;
		border-bottom: 2px solid #d2d2d2;

		.user-item {
			display: inline-block;
			height: 110px;
			margin-bottom: 8px;
			margin-top: 8px;

			&-name, &-price, &-delete, &-counter, &-img {
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				color: $color_darkgray;
				text-align: center;
			}

			&-img {
				background-color: #ececec;
				padding-top: 4px;
				padding-left: 18px;
				padding-right: 18px;

				img {
					width: 104px;
					height: 104px;
				}
			}

			&-name {
				margin-left: 23px;
				margin-right: 16px;
				font-family: HelveticaNeueCyr-Bold;
				letter-spacing: 2px;
				font-size: 16px;
				text-transform: uppercase;
				line-height: 35px;
				width: 166px;
				text-overflow: ellipsis;
				overflow: hidden;
				text-decoration: underline;
			}

			&-counter {

				&-minus, &-plus {
					float: left;
					width: 33px;
					height: 28px;
					display: inline-block;
					background-color: $btn_hover;
					transition: all 0.3s ease;
					cursor: pointer;

					&:hover, &:active, &:focus {
						background-color: #29d176;
					} 
				}

				&-minus {
					background-image: url('../img/userforms/minus.png');
					background-position: center;
					background-repeat: no-repeat;
				}

				&-plus {
					background-image: url('../img/userforms/plus.png');
					background-position: center;
					background-repeat: no-repeat;
				}

				input {
					float: left;
					text-align: center;
					width: 45px;
					border: 1px dashed $btn_hover;
					font-family: HelveticaNeueCyr-Light;
					font-size: 18px;
					line-height: 25px;
					outline: none;
				}
			}

			&-price {
				font-family: HelveticaNeueCyr-Roman;
				letter-spacing: 2px;
				font-size: 25px;
				margin-left: 26px;
				width: 96px;

				&-lowercase {
					font-family: HelveticaNeueCyr-Bold;
					font-size: 16px;
				}
			}

			&-delete {
				width: 26px;
				height: 26px;
				margin-left: 37px;
				border-radius: 50%;
				background-color: #ff5351;
				transition: all 0.3s ease;
				background-image: url('../img/userforms/cross-little.png');
				background-repeat: no-repeat;
				background-position: center;
				cursor: pointer;	

				&:hover, &:active, &:focus {
					background-color: #ff302e;
				}
			}

		}
	}

	&-total {
		float: left;
		margin-top: 46px;
		display: inline-block;
		font-family: HelveticaNeueCyr-Roman;
		font-size: 15px;
		color: #d2d2d2;
		letter-spacing: 1.5px;
		line-height: 35px;
		text-transform: uppercase;

		&-price {
			display: inline-block;
			font-size: 22px;
			color: $color_darkgray;

			&-lowercase {
				font-size: 15px;
				text-transform: none;
			}
		}
	}

	&-btn-right {
		float: right;
	}

}

.user-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.46);
	cursor: pointer;
	display: none;
	z-index: 11;
}

#login {
	top: 140px;
	overflow-y: hidden;
	height: 360px;

	input {
		width: 434px;
	}
}

#basket {
	width: 680px;
	height: auto;
	max-height: 610px;
	margin-left: -340px;
}

#buy {
	display: block;

	.user {

		&-btn, &-btn-reverse {
			padding-left: 28px;
			padding-right: 28px;
		}

		&-input-text {
			text-align: left;
			line-height: 15px;
			text-transform: none;
			font-size: 12px;
			letter-spacing: 1.3px;
		}
	}
}

#buy-overlay {
	display: block;
}